* {
  margin: 0;
  padding: 0;
}

:root {
  --dark:  #222D3F;
  --medium-dark: #4F8C6C;
  --medium: #335941;
  --medium-light: #77A756;
  --light: #99BE7F;
  --shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
}

img {
  width: 10%;
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

/* For screen-readers only */
.sr-only {
  position: absolute;
  left: -10000px;
  width: 1px;
  height: 1px;
  top: auto;
  overflow: hidden;
}

/* Master wrapper */
.wrapper {
  display: grid;
  grid-template: "nav nav nav nav"
    "about   about   about   about"
    "classes classes classes classes"
    "form      form   form   form"
    "footer footer footer footer";
}

/* Inside the header element */
header {
  grid-area: nav;
  display: flex;
  background: orange;
  flex: 1;
  align-items: center;
}

#nav-bar {
  margin-left: auto;
}

#nav-bar>ul {
  display: flex;
  margin-left: auto;
  list-style-type: none;
}

#nav-bar li {
  flex: 1;
  padding-left: 1rem;
  padding-right: 1rem;
}

/* main {
  grid-area: main;
  display: grid;
  grid-template-areas: "about   about   about"
                       "classes classes classes";
  background: red;
} */

/* Inside the about element */
#about {
  grid-area: about;
  background: yellow;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* display: grid;
  grid-template-areas: ". picture ."
                       ". heading ."
                       ". about ."
                      " . video ."; */
}

#header-img {
  grid-area: picture;
  width: 20rem;
  margin: auto;
}

#about h2 {
  /* grid-area: heading; */
  padding-top: 2rem;
}

#about p {
  /* grid-area: about; */
  width: 50%;
  padding-top: 0.5rem ;
  padding-bottom: 2rem;
}

#video {
  /* grid-area: video; */
}

/* Inside the classes element */
#classes {
  grid-area: classes;
  background: grey;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-areas: "h2    h2    h2      h2"
                       "ramen sushi onigiri bento";
}

#classes h2 {
  grid-area: h2;
  text-align: center;
}

#ramen, #sushi, #onigiri, #bento {
  border: 1px solid black;
  margin: 2rem;
  padding: 2rem;
}

#ramen {
  grid-area: ramen;
}

#sushi {
  grid-area: sushi;
}

#onigiri {
  grid-area: onigiri;
}

#bento {
  grid-area: bento;
}

#classes img {
  margin: auto;
  padding-bottom: 1rem;
  width: 40%;
}

#classes ul {
  width: 80%;
  margin: auto;
}

.price {
  text-align: center;
  font-weight: bold;
  font-size: 2rem;
  padding-top: 1rem;
}


/* Inside the form element */
form {
  grid-area: form;
  border: 1px solid black;

  background: green;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas: ".       h2       ."
                      ".       name     ."
                      ".       email    ."
                      ".       fieldset ."
                      ".       button   .";
}

form h2 {
  grid-area: h2;
  text-align: center;
}

#form-name {
  grid-area: name;
}

#form-email {
  grid-area: email;
}

form fieldset {
  grid-area: fieldset;
  border: 0;
}

form button {
  grid-area: button;
}

form textarea {
  width: 100%;
}

/* Inside the Footer */
footer {
  grid-area: footer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.attribution {
  font-size: .2rem;
}
