* {
  margin: 0;
  padding: 0;
}

img {
  width: 10%;
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

/* For screen-readers only */
.sr-only {
  position: absolute;
  left: -10000px;
  width: 1px;
  height: 1px;
  top: auto;
  overflow: hidden;
}

/* Master wrapper */
.wrapper {
  display: grid;
  grid-template-areas: "header header header header"
                       "main   main   main   main"
                       "form   form   form   form"
                       "footer footer footer footer";
}

/* Inside the header element */
header {
  grid-area: header;
  display: flex;
  background: orange;
  flex: 1;
  align-items: center;
}

#nav-bar {
  margin-left: auto;
}

#nav-bar > ul{
  display: flex;
  margin-left: auto;
  list-style-type: none;
}

#nav-bar li {
  flex: 1;
  padding-left: 1rem;
  padding-right: 1rem;
}

main {
  grid-area: main;
  display: grid;
  grid-template-areas: "about   about   about"
                       "classes classes classes";
  background: red;
}

/* Inside the about element */
#about {
  grid-area: about;
  background: yellow;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 3rem 0 3rem 0;
}

/* Inside the classes element */
#classes {
  grid-area: classes;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-areas: "h2    h2    h2      h2"
                       "ramen sushi onigiri bento"
}

#classes h2 {
  grid-area: h2;
}

#ramen {
  grid-area: ramen;
}

#sushi {
  grid-area: sushi;
}

#onigiri {
  grid-area: onigiri;
}

#bento {
  grid-area: bento;
}

#classes img {
  margin: auto;
}


/* Inside the form element */
form {
  grid-area: form;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas: ".       h2       ."
                       ".       name     ."
                       ".       email    ."
                       ".       fieldset ."
                       ".       button   .";
}

form h2 {
  grid-area: h2;
}

#form-name {
  grid-area: name;
}

#form-email {
  grid-area: email;
}

form fieldset {
  grid-area: fieldset;
  border: 0;
}

form button {
  grid-area: button;
}

form textarea {
  width: 100%;
}

/* Inside the Footer */
footer {
  grid-area: footer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.attribution {
  font-size: .2rem;
}
